*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}
/********* common style *******/
h2{
    font-size: 3rem;
    font-weight: 700;
    color: #333333;
}
p{
    font-size: 1.25rem;
    font-weight: 700;
    color: #424242;
}
.btn{
    background-color: #FF5959;
    color: #FFFFFF;
    font-weight: 700;
    padding: 12px 37px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
/*********** Header section ********/
.focoused-container{
    display: flex;
    gap: 130px;
    align-items: center;
    margin-bottom: 100px;
}
.focoused-content p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.focoused-img img{
    margin-top: 20px;
    border-radius: 20%;
    background-repeat: no-repeat;
    background-size: cover;
}
 /*********** My-Mission-in-2030 *******/
.My-Mission h2{
    text-align: center;
}
.my-mission-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
.my-mission-content img{
    width: 100%;
}
.my-mission-content h2{
    margin-top: 30px;
    margin-bottom: 20px;
}

/*********** Banner section ***********/

.banner-container{
   display: flex; 
   gap: 100px;
   align-items: center;
   margin-top: 120px;
   flex-direction: row-reverse;
}

.banner-img img{
    width: 400px;
    height: 400px;
}
.banner-text p{
    margin-top: 20px;
    margin-bottom: 30px;
}

/******** Build Corona Application *********/

.application{
    text-align: center;
    margin: 100px;
}
.application span{
    color: #FFAD5A;
}
.application-container{
    display: flex;
    gap: 150px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}
.application-img img{
    width: 334px;
    height: 542px;
    position: relative;
}
.application-text span{
    color: #FFAD5A;
}
.application-text p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #3e3e3eb0;
}

/********* Footer style *********/

.mission{
    height: 177px;
    background-color: #0B0D17;
    display: flex;
    align-items: center;
}
.mission div h2{
    color: #FFFFFF;
    text-align: center;
}
.mission div h2 span{
    color: #FF5959;
}
.mission div p{
    color: #747272;
}
